<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="about.css">
  </head>
  <body style="background-color: <%= MainPageContent.bgcolor %>; color: <%= MainPageContent.color %>;">
    <%- include('navbar') %>
    <br>
    <h1><%= AboutPageContent.h1about %></h1>
    <br />
    <%- include('form') %>
    <div class="text">
        <p>
          <%= AboutPageContent.p1about %>
        </p>
        <p>
          <%= AboutPageContent.p2about %>
        </p>
    </div>
  </body>
</html>
