<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <br />
    <h1><%= MainPageContent.h1 %></h1>
    <br />
    <div class="text">
      <p><%= MainPageContent.p1 %></p>
      <p><%= MainPageContent.p2 %></p>
      <p><%= MainPageContent.p3 %></p>
    </div>
  </body>
</html>
